[Unit]
Description=smartnotesnotify FastAPI service
After=network.target

[Service]
Type=simple
User=roomhacker
WorkingDirectory=/home/roomhacker/PycharmProjects/SmartNotesNotify
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/roomhacker/PycharmProjects/SmartNotesNotify/.env
ExecStart=/home/roomhacker/PycharmProjects/SmartNotesNotify/.venv/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 9432 --reload
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
